#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}
<section class="ui raised segment">
  <header class="ui raised header">
    ${member.firstname} ${member.lastname}'s WeatherTop Stations.
  </header>
</section>

#{list items:stations, as:'station'}
<section class="ui segment">
  <h2 class="ui header">
    ${station.name}
  </h2>
  #{current station:station /}
  <p>Click for Details</p>
  <a href="/station/${station.id}">
    <button class="ui button"><i class="folder open icon"></i></button>
  </a>
  <a href="/station/${station.id}/delete">
    <button class="ui button"><i class="trash alternate icon"></i></button>
  </a>
</section>
#{/list}
#{addstation /}
