#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    WeatherTop Inc. Release 3
  </h1>
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
        <img class="ui medium image" src="/public/images/Weather-Icons.jpg">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <p>
          <img class="ui medium image" src="/public/images/station.jpg">
        </p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui medium image" src="/public/images/ios_weather_icons.jpg">
      </div>
    </div>
  </div>
</section>
